<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>topmodelpy output</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Outputs</h3>
          <ol>
            {% for column in df.columns %}
            <li><a href="#{{key}}">{{ column }}</a></li>
            {% endfor %}
          </ol>
        <div>
      <div>
      <div class="row">
        <div class="col-md-12">
          {% if comparison_data %}
          <h3>Comparison Plot</h3>
          <div>{{ comparison_data["comparison_plot_html"] }}</div>
          <h5>Descriptive Statistics</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Statistic</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nash-Sutcliffe</th>
                <td>{{ "{0:0.2f}".format(comparison_data["nash_sutcliffe"]) }}</td>
              </tr>
              <tr>
                <th scope="row">Mean Squared Error</th>
                <td>{{ "{0:0.2f}".format(comparison_data["mean_squared_error"]) }}</td>
              </tr>
            </tbody>
          </table>
          <h3>Flow Duration Curve Comparison</h3>
          <div>{{ flow_duration_curve_data["flow_duration_curve_comparison_html"] }}</div>
          {% endif %}
        <div>
      <div>
      <div class="row">
        <div class="col-md-12">
          <h3>Interactive Plots</h3>
          {% for key, value in plots.items() %}
          <div>{{ value }}</div>
          <h5>Descriptive Statistics</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Statistic</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Mean</th>
                <td>{{ "{0:0.2f}".format(df[key].mean()) }}</td>
              </tr>
              <tr>
                <th scope="row">Median</th>
                <td>{{ "{0:0.2f}".format(df[key].median()) }}</td>
              </tr>
              <tr>
                <th scope="row">Mode</th>
                <td>{{ "{0:0.2f}".format(df[key].mode().values[0]) }}</td>
              </tr>
              <tr>
                <th scope="row">Max</th>
                <td>{{ "{0:0.2f}".format(df[key].max()) }}</td>
              </tr>
              <tr>
                <th scope="row">Min</th>
                <td>{{ "{0:0.2f}".format(df[key].min()) }}</td>
              </tr>
            </tbody>
          </table>
          {% endfor %}
        <div>
      <div>
      <div class="row">
        <div class="col-md-12">
          <h3>Flow Duration Curve</h3>
          <div>{{ flow_duration_curve_data["flow_duration_curve_html"] }}</div>
        <div>
      <div>
    <div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
